.Flashcard {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Flashcard .text {
    font-size: 5em;
    user-select: none;
    cursor: pointer; }
